/* MINE */
@import url('../../Palette.css');

.mine {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    padding: 15px;
    background-color: var(--component-background);
    border: 5px ridge var(--gold);

    > h2 {
      color: var(--gold);
    }
  }

.mine > button {
    background-color: rgb(201, 71, 32);
    border: 2px ridge rgb(255, 146, 57);
    color: rgb(231, 231, 231);
    padding: 8%;
    cursor: pointer;
  }