/* Stats.css */
@import url('../../Palette.css');

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    padding: 15px;
    background-color: var(--component-background);
    border: 5px ridge var(--gold);
    border-right: none;

    > h2 {
      color: var(--gold);
    }
  }
  
  .stats-tab {
    width: 100%;

    > h3 {
      color: var(--gold);
    }
  }
  
  .stats-row {
    display: flex;
    justify-content: space-between;
    background-color: var(--component-element);
  }